/* * {
    margin: 0;
} */

section {
    outline: 1px solid tomato;
}

/* -------------------- BASIC RULES -------------------- */

:root {
    --accent-color: #2196f3;
    --text-color: #000000;
}

.logo-nav {
    font-family: Raleway, 'sans-serif';
    font-weight: 700;
    color: #000000;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

/* -------------------- HEADER -------------------- */

.head-white {
    background-color: #ffffff;
}

.logo-nav > span {
    font-family: Raleway, 'sans-serif';
    color: var(--accent-color);
}

.logo-nav:hover {
    color: #000000;
}

.nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.nav-list a {
    color: var(--text-color);
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--accent-color);
}

.adress-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
}

.adress-list a:hover {
    color: var(--accent-color);
}

.adress-list a:focus {
    color: var(--accent-color);
}

.nav-list-item > .current {
    color: var(--accent-color);
}

/* -------------------- MAIN -------------------- */
.hero {
    background: #2f303a;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: #f5f4fa;
}

.hero-button {
    background-color: var(--accent-color);
}

.button-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #ffffff;
}

.button:hover,
.button:focus {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: var(--accent-color);
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.benefits-discription {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}

.activity-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: #212121;
}
.gallery-category {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #212121;
}

.team-positions {
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}
/* -------------------- FOOTER -------------------- */
.logo-footer > span {
    font-family: Raleway, 'sans-serif';
    color: var(--accent-color);
}

.footer {
    background: #2f303a;
}

.logo-footer {
    font-family: Raleway, 'sans-serif';
    font-weight: 700;
    color: #ffffff;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.logo-footer:hover {
    color: #ffffff;
}

.adress-map {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-adress a:hover {
    color: var(--accent-color);
}

.footer-adress a:focus {
    color: var(--accent-color);
}
